body {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../images/arches.png");
}

#mainnav {
  width: 100%;
}

#myname {
  background-color: #4aaaa5;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0.5em;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bold;
}

#navlinks {
  text-decoration: none;
  color: #777777;
}

#navlinks:hover {
  color: #4aaaa5;
}

#navlinks:active {
  color: purple;
}

#mainheader {
  background-color: #ffffff;
  color: #4aaaa5;
  padding: 0.5em;
  width: 100%;
  border-bottom: solid #cccccc 0.03em;
}

.container {
  background-color: #ffffff;
}

#bio {
  margin: 1%;
}

#mainform {
  margin: 1%;
}

#mypicture {
  width: 65%;
}

#mainfooter {
  clear: both;
  background-color: #666666;
  color: #ffffff;
  border-top: solid #4aaaa5;
  box-sizing: border-box;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  overflow: hidden;
}
